.oyk-avatar {
  background-color: var(--oyk-primary);
  border: 2px solid var(--oyk-card-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &-abbr {
    color: var(--oyk-primary-fg);
    font-family: "Quicksand", sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 1;
  }
}