.oyk-chip {
  background-color: color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
  border-radius: 4px;
  font-size: 0.7rem;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 3px 6px;

  &-content {
    color: var(--oyk-core-fg);
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    filter: brightness(1.8);
  }

  &.oyk-chip-default {
    background-color: color-mix(in srgb, var(--oyk-core-fg) 20%, transparent);

    .oyk-chip-content {
      color: var(--oyk-core-fg);
    }
  }

  &.oyk-chip-primary {
    background-color: color-mix(in srgb, var(--oyk-primary) 30%, transparent);

    .oyk-chip-content {
      color: var(--oyk-primary);
    }
  }

  &.oyk-chip-danger {
    background-color: color-mix(in srgb, var(--oyk-c-danger) 30%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-danger);
    }
  }

  &.oyk-chip-warning {
    background-color: color-mix(in srgb, var(--oyk-c-warning) 30%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-warning);
    }
  }

  &.oyk-chip-success {
    background-color: color-mix(in srgb, var(--oyk-c-success) 30%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-success);
    }
  }
}
