.oyk-progress {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .oyk-progress-canvas {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .oyk-progress-content {
    color: var(--oyk-card-fg);
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
}
