@import "https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700";

html {
  font-size: 16px;
}

body {
  background-color: var(--oyk-core-bg);
  color: var(--oyk-core-fg);
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

#oykus {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#oyk-app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#oyk-app-core {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#oyk-app-main {
  overflow-y: auto;
  display: block;
  height: calc(100vh - var(--oyk-app-bar-height));
}
