:root {
  --oyk-core-bg: #1c1d21;
  --oyk-core-fg: #bcbebb;
  --oyk-primary: #28536c;

  --oyk-color-danger: #e25353;

  --oyk-app-bar-bg: #17191b;
  --oyk-app-sidebar-bg: #17191b;
  --oyk-app-sidebar-bg-subtle: #1c1d21;

  --oyk-app-bar-height: 48px;
  --oyk-app-sidebar-width: 48px;
  --oyk-app-sidebar-width-open: 200px;
}

// #24272e (bg highlighted)
// #3f424b (bg highlighted highlighted)
// #585b62 (fg subtle)
// #f3f6fb (fg highlighted)